/* CSS BY NICK SMITH */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* ROOT VARIABLES */
:root {
    --color-blue: #1F2A44;
    --color-green: #768858;
    --color-champagne: #E5C185;
    --color-linen: #F8F4EC;
    --color-charcoal: #2B2B2B;
    --color-white: #FAF9F6;
    --font-main: 'Playfair Display', serif; 
}

/* GLOBAL STYLES (Mobile-first Styling) */
body {
    width: 100%;
    font-family: var(--font-main);
}

hr {
    background-color: var(--color-champagne);
    border: none;
    height: 2px;
    margin-top: 1.25em;
}

h2 {
    font-weight: 600;
    font-size: 1.75rem;
    color: var(--color-blue);
}

/* header */
#header-content {
    background-color: var(--color-blue);
    color: var(--color-white);
    text-align: center;
    padding: 1.25em 0;
    margin: 0;
}

#header-img {
    height: 200px;
    margin: 0 auto;
}

#header-content h1 {
    font-size: 3.25rem;
    margin: 0;
}

#header-content p {
    font-size: 1rem;
    margin: 0.25em 1em;
}

/* nav */
nav ul {
    list-style: none;
    padding: 0.75em 1em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-champagne);
}

nav a {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 1.25rem;
    font-weight: 700;
}

/* about us */
#about-us {
    padding: 2em 1.15em 0 1.15em;
    text-align: left;
}

#about-us h2 {
    padding-bottom: 2em  0;
    margin-bottom: 0.25em;
}

#about-us p {
    margin-top: 0;
}

/* Our Offerings */
#offerings {
    padding: 1.25em 1.15em;
}

#offerings h2 {
    margin-top: 0;
}

#offering-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.offering-card {
    background-color: var(--color-green);
    color: var(--color-white);
    text-align: left;
    padding: 1.15em 1em 1em;
    margin: 0 0 1em 0;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--color-charcoal);
}

.offering-card h3 {
    margin: 0 0 0.25em 0;
    font-size: 1.35rem;
}

.offering-card p {
    margin: 0 0 0.15em;
    font-size: 1rem;
}

.offering-card ul {
    text-align: left;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

/* Gallery */
#gallery {
    padding: 0 1.15em;
}

#gallery h2 {
    margin: 0;
}

#gallery p {
    margin: 0.5em 0;
}

#gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

figure {
    text-align: center;
    max-width: 100%;
    background-color: var(--color-white);
    border-radius: 10px;
    margin: 0;
    box-shadow: 3px 3px 5px var(--color-charcoal);
}

.image-card {
    margin-top: 1em;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;
}

figcaption {
    background-color: var(--color-white);
    padding: 0.5em 0;
    font-style: italic;
    max-width: 95%;
}

button {
    margin: 1.25em auto 0 auto;
    font-family: var(--font-main);
    font-size: 1.15rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-color: var(--color-green);
    color: var(--color-linen);
    padding: 12px 24px;
    width: 100%;
}

#gallery hr {
    margin: 2em 0;
}

/* Footer */
footer {
    background-color: var(--color-blue);
    text-align: center;
    color: var(--color-white);
    font-size: 1em;
    padding: 2em;
    border: none;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
}

#email {
    color: var(--color-champagne);
}

#footer-socials {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 0 auto;
    justify-content: center;
    padding: 1em 0.5em 0;
    text-align: center;
}

#footer-socials a {
    color: var(--color-champagne);
}

/* Media Query (Medium) */
@media (min-width: 600px) {
    #offering-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "card1 card2"
            "card3 card3";
        gap: 1em;
    }

    #offering-grid .offering-card:nth-child(1) {
        grid-area: card1;
    }

    #offering-grid .offering-card:nth-child(2) {
        grid-area: card2;
    }

    #offering-grid .offering-card:nth-child(3) {
        grid-area: card3;
    }

    #gallery-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Media Query (Large) */
@media (min-width: 900px) {
    #gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Media Query (XL) */
@media (min-width: 1200px) {
    /* font changes */

    /* header */
    #header-content h1 {
        font-size: 4rem;
        margin: 0;
    }

    #header-content p {
        font-size: 1.15rem;
        margin: 0.25em 1em;
    }

    /* nav */
    nav a {
        font-size: 1.35rem;
        font-weight: 700;
    }

    /* about us */
    #about-us h2 {
        font-size: 2em;
    }

    #about-us p {
        font-size: 1.15em;
    }

    /* offerings */
    #offerings h2 {
        font-size: 2em;
    }

    .offering-card h3 {
        font-size: 1.45rem;
    }

    .offering-card p {
        font-size: 1.1rem;
    }

    /* gallery */
    #gallery h2 {
        font-size: 2em;
    }

    #gallery p {
        font-size: 1.15rem;
    }

    /* layout changes */
    nav ul {
        padding: 0.75em 1em;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 5em;
        justify-content: space-around;
        background-color: var(--color-champagne);
    }
    
    #about-us {
        max-width: 75%;
        margin: 0 auto;
    }

    #offerings {
        max-width: 75%;
        margin: 0 auto;
    }

    #gallery {
        max-width: 75%;
        margin: 0 auto;
    }

    #gallery-grid {
        grid-template-columns: repeat(5, 1fr);
    }
    
}